body, div {
    margin: 0;
}
hr {
    color: lightgray;
}
.topbar {
    background-color: black;
    height: 50px;
    color: white;
    padding: 5px;
}
.slab {
    width: 24.8%;
    height: 600px;
    border-right: 1px lightgray solid;
    display: block;
    float: left;
}
.slab div {
    padding: 5px 20px;
}
