html {
    font-family: monospace;
}
body, div {
    margin: 0;
    background-color: aliceblue;
}
hr {
    color: lightgray;
}
.topbar {
    background-color: black;
    height: 40px;
    color: white;
    font-size: 25px;
    padding: 10px;
}
.slab {
    width: 24.8%;
    height: 500px;
    border-right: 1px lightgray solid;
    display: block;
    float: left;
}
.slab div {
    padding: 5px 20px;
}
